// 主色调
$primary_c = #F4C2EC;

// 正常文字颜色
$text_color = #fff;

$text_color_opacity = rgba(225,225,225,0.8);
$text_link_color = #91AACE;

// active状态下的颜色
$text_color_active = #ccc;

$text_before_color = rgba(225,225,225,.8);

// 列表在hover状态下的背景色
$list_hover = rgba(0,0,0,0.2);

// 遮罩层背景色
$mask_color = rgba(0,0,0,0.98);
$mask_color_opacity = rgba(0,0,0,0.58);
$mask_color_gray = rgba(122,122,122,0.3)

// 边框颜色
$border_color = $primary_c;
$border_bottom_color = rgba(255,255,255,0.1);
$border_bottom_color_deep = rgba(255,255,255,0.3)

// box-shadow
$box_s_eee = #eee

// active色调
$active_color = $primary_c;

// color 顔色
$color_gray = #aaa;
$color_deep_gray = #222;

//勾选的颜色  
$check_color = rgba(36,174,61,0.4)
$check_active_color = rgba(36,174,61,0.6)
$check_color_deep = rgba(36,174,61,0.8)

$btn_hover_color = rgba(255,255,255,0.4);

// ============= 音乐进度条
$progress_color = rgba(255,255,255,0.1);
$buffering_color = rgba(255,255,255,0.2);
$real_color = $primary_c;
$range_color = rgba(255,255,255,1);


// 自定义组件  通用样式
$com_bg = rgba(12,14,27,0.96)
$com_text_color = rgba(255,255,255,0.6)
$com_text_color_deep = rgba(255,255,255,0.9)
$com_text_color_active = rgba(255,255,255,0.8)


// 红色按钮  更新页面的效果
$com_button_deep = rgba(255,12,12,0.08)
$com_button_color = rgba(255,12,12,0.03)
$com_button_active_color = rgba(255,12,12,0.05)

@import "./custom_input.styl"
