// 正常文字颜色
$text_color = #fff;

$text_color_opacity = rgba(225,225,225,0.8);

// active状态下的颜色
$text_color_active = #ccc;

$text_before_color = rgba(225,225,225,.8);

// 列表在hover状态下的背景色
$list_hover = rgba(0,0,0,0.2);

// 遮罩层背景色
$mask_color = rgba(0,0,0,0.98);

// 边框颜色
$border_color = red;
$border_bottom_color = rgba(255,255,255,0.1);
$border_bottom_color_deep = rgba(255,255,255,0.3)
// active色调
$active_color = red;
