.g-content
	position:fixed
	top:100px
	bottom:50px
	left:50%
	max-width:1240px
	width:100%
	transform:translate3d(-50%,0,0)
	margin:0 auto
	overflow-y:scroll
	box-sizing:border-box
	-webkit-overflow-scrolling: touch
	padding:15px
@media screen and (max-width:1440px)
	.g-content
		top:60px
		bottom:30px
		
@media screen and (max-width:992px) 
	.g-content
		top:40px
		bottom:10px